* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #1e1b2e;
    color: #fff;
}

.btn {
    background: #ff4d30;
    color: #fff;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #e63e24;
    transform: scale(1.05);
}

.why-us {
    padding: 80px 10%;
    text-align: center;
    background: #fff;
}

.why-us h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.why-card {
    background: #f1f1f1;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;
}

.why-card:hover {
    background: #ff4d30;
    color: white;
    transform: translateY(-10px);
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #26223a;
    align-items: center;
}

.navbar a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.navbar a:hover,
.active {
    color: #8b5cf6;
}

.btn {
    background: #8b5cf6;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn.small {
    padding: 6px 12px;
    font-size: 14px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero-images {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.hero-images img {
    width: 120px;
    border-radius: 12px;
}

.newsletter-box {
    margin-top: 20px;
}

.newsletter {
    background: linear-gradient(135deg, #ff4d30, #ff8a65);
    color: white;
    text-align: center;
    padding: 70px 10%;
}

.newsletter-box input {
    padding: 12px;
    width: 250px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10%;
    background: #fff;
}

.cta img {
    width: 350px;
    border-radius: 20px;
}

#scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #ff4d30;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.about-preview,
.services,
.feedback,
.team,
.about-page {
    padding: 60px 20px;
    text-align: center;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.service-grid,
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card,
.team-card,
.review {
    background: #3f3b55;
    padding: 20px;
    border-radius: 10px;
}

.card img,
.team-card img {
    width: 100px;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #26223a;
    margin-top: 40px;
}

.offer {
    background: linear-gradient(135deg, #ff512f, #dd2476);
    padding: 100px 20px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.offer::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: 200px;
    right: 200px;
}

.offer-content {
    position: relative;
    z-index: 2;
}

.offer-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.offer-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.offer-content.btn {
    background: white;
    color: #dd2476;
    padding: 14px 35px;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.offer-content.btn:hover {
    background: black;
    color: white;
    transform: scale(1.1);
}

@media(max-width:768px) {
    .offer-content h2 {
        font-size: 26px;
    }

    .offer-content p {
        font-size: 16px;
    }
}
