body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f8f8;
}

header{
    background: #e74c3c;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.menu-page{
    background: #f4d06f;
    padding: 50px 20px;
}

.menu-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.menu-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    align-items: center;
}

.menu-images{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu-images img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #fff;
}

.menu-list{
    background: #fff3d6;
    padding: 30px;
    border-radius: 10px;
}

.menu-group{
    margin-bottom: 25px;
}

.menu-group p{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 8px 0;
}


.menu-group span{
    white-space: nowrap;
}

.dots{
    flex: 1;
    border-radius: 2px dotted #555;
    margin: 0 10px;
}