body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #f6d365, #fda085);
}

header{
    background: #e74c3c;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero{
    background: url('https://static.vecteezy.com/system/resources/thumbnails/054/611/336/small/wide-angle-foodgraphy-for-restaurant-with-copy-space-photo.jpg') center/cover;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.menu-page{
    background: #f4d06f;
    padding: 50px 20px;
}

.menu-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.menu-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    align-items: center;
}

.menu-images{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu-images img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #fff;
}

.menu-list{
    background: #fff3d6;
    padding: 30px;
    border-radius: 10px;
}

.menu-group{
    margin-bottom: 25px;
}

.menu-group p{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 8px 0;
}

.menu-group span{
    white-space: nowrap;
}

.dots{
    flex: 1;
    border-bottom: 2px dotted #555;
    margin: 0 10px;
}

.category-slider{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.category{
    text-align: center;
    cursor: pointer;
}

.category img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: transform 0.3s;
    border: 3px solid #ff4d4d;
}

.category img:hover{
    transform: scale(1.1);
}

.menu-card{
    width: 60%;
    margin: auto;
    padding: 30px;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10pz 30px rgba(0,0,0,0.2);
}

.menu-card h2{
    text-align: center;
    margin-bottom: 20px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px dashed gray;
    align-items: center;
}

.price{
    color: #ff4d4d;
    font-weight: bold;
}

.menu-item button{
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item:hover{
    background: rgba(255,77,77,0.1);
    transform: scale(1.02);
    transition: 0.3s;
}